:global(.ant-pro-basicLayout-content) {
  margin: 1rem;
}

:global(.ant-design-pro) {
  :global(.ant-layout-footer) {
    display: none;
  }
}

:global(.ant-pro-basicLayout-content) {
  display: flex;
}

.version {
  position: absolute;
  z-index: 10;
  left: 50%;
  top: 18px;
  font-size: 16px;
  color: gray;
}

